<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          Invia
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

    <!-- Start select/change asset-->
    <ion-list>
        <div *ngFor="let asset of irohautil.wallet.assets">
          <div *ngIf="irohautil.wallet.cur_assetId == asset.assetId">
            <ion-item color="secondary">
              <ion-label><h2>Valuta</h2></ion-label>
              <ion-label><h2>Totale</h2></ion-label>
            </ion-item>
            <ion-item>
              <ion-label>{{asset.assetId}}</ion-label>
              <ion-label>{{asset.balance}}</ion-label>
            </ion-item>
          </div>
        </div>
      </ion-list>
    
      <ion-item>
        <ion-select #selectAsset [hidden]=true (ionChange)="selectAsset_ionChange($event)" interface="action-sheet">
          <ion-select-option *ngFor="let asset of irohautil.wallet.assets" 
          [value]="asset">{{asset.assetId + ' - Totale: ' + asset.balance}}</ion-select-option>
        </ion-select>
        <ion-label class="select-asset" (click)="display_selectAsset()" color="primary">Seleziona Valuta</ion-label> 
      </ion-item>
      <!-- End select/change asset-->
    
      <div *ngIf="irohautil.wallet.cur_assetId; then assetId else noassetId"></div>
      <ng-template #assetId>

        <form #walletForm="ngForm">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
              <!--<ion-label position="stacked">Inserire indirizzo Wallet destinatario<ion-text color="danger">*</ion-text></ion-label>-->
              <ion-input required class="form-control" [(ngModel)]="walletTo.wallet" name="wallet" type="text"
                         #wallet="ngModel" spellcheck="false" autocapitalize="off" required minlength=3 maxLength=50
                         placeholder="Inserire indirizzo Wallet destinatario" pattern='^[a-zA-Z0-9@_.-]*$'>
              </ion-input>
              <ion-button (click)="scanCode_wallet()">Scan Code</ion-button>
            </ion-item>


              <div *ngIf="wallet.invalid && (wallet.dirty || wallet.touched)" class="danger">
                  <div *ngIf="wallet.errors.required">
                    <ion-text color="danger">
                      Inserire nome Wallet destinatario
                    </ion-text>
                  </div>
                  <div *ngIf="wallet.errors.minlength">
                    <ion-text color="danger">
                      Nome Wallet di almeno 3 caratteri
                    </ion-text>
                  </div>
                  <div *ngIf="wallet.errors.pattern">
                    <ion-text color="danger">
                      Nome Wallet può contenere lettere, numeri e i caratteri:@ _ . -
                    </ion-text>
                  </div>
              </div>

          <ion-item>
            <ion-label position="stacked">Totale<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required class="form-control" [(ngModel)]="walletTo.amount" name="walletAmount" type="text"
                       #walletAmount="ngModel" spellcheck="false" autocapitalize="off" required minlength=1 maxLength=50
                       pattern='[0-9]+(\.[0-9]{1,{{irohautil.wallet.cur_assetId_decimal}}}?)?'>
            </ion-input>
            <div *ngIf="walletAmount.invalid && (walletAmount.dirty || walletAmount.touched)" class="danger">
                <div *ngIf="walletAmount.errors.required">
                  <ion-text color="danger">
                    Inserire cifra da inviare
                  </ion-text>
                </div>
                <div *ngIf="walletAmount.errors.minlength">
                  <ion-text color="danger">
                    Almeno 1 cifra
                  </ion-text>
                </div>
                <div *ngIf="walletAmount.errors.pattern">
                  <ion-text color="danger">
                    Solo numeri, . per la virgola, {{irohautil.wallet.cur_assetId_decimal}} cifre decimali
                  </ion-text>
                </div>
              </div>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Messaggio</ion-label>
            <ion-input class="form-control" [(ngModel)]="walletTo.message" name="walletMessage" type="text"
                       spellcheck="false" autocapitalize="off" maxLength=50>
            </ion-input>
          </ion-item>
         
        </ion-list>
        <div class="ion-padding">
            <ion-button (click)="walletSendTo_confirm(walletForm)" [disabled]="!walletForm.valid" expand="block" type="submit" class="ion-no-margin">Invia</ion-button>
        </div>
      </form>
      </ng-template>


</ion-content>
