<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Walcc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="wallet.mypuk; then puk else nopuk"></div>
  <ng-template #nopuk>
    <div class="ion-padding-top ion-text-center">
      <ion-label>No Wallet</ion-label>
    </div>

    <form #walletForm="ngForm">
      <ion-list>
        <ion-item>
          <ion-label position="stacked" color="primary">Inserisci nome Wallet da creare:</ion-label>
          <ion-input class="form-control" [(ngModel)]="wallet.mywallet" name="mywallet" type="text" #mywallet="ngModel"
            spellcheck="false" autocapitalize="off" required minlength=3 maxLength=50 pattern='^[a-zA-Z0-9_.-]*$'>
          </ion-input>
        </ion-item>

        <div *ngIf="mywallet.invalid && (mywallet.dirty || mywallet.touched)" class="danger">
          <div *ngIf="mywallet.errors.required">
            <ion-text color="danger">
              Inserire nome Wallet
            </ion-text>
          </div>
          <div *ngIf="mywallet.errors.minlength">
            <ion-text color="danger">
              Nome Wallet di almeno 6 caratteri
            </ion-text>
          </div>
          <div *ngIf="mywallet.errors.pattern">
            <ion-text color="danger">
              Nome Wallet può contenere solo lettere, numeri e i seguenti caratteri: _ . -
            </ion-text>
          </div>
        </div>
      </ion-list>

      <ion-row>
        <ion-col>
          <ion-button (click)="newwallet(walletForm)" type="submit" [disabled]="!walletForm.valid" expand="block">Crea Wallet</ion-button>
        </ion-col>
      </ion-row>
    </form>

  </ng-template>
  <ng-template #puk>
    <div class="ion-padding-top ion-text-center">
      <ion-label>Wallet - Indirizzo Pubblico</ion-label>
    </div>
    <div class="ion-padding-top ion-text-center">
      <ion-text color="medium">Nome: {{wallet.mywallet}}</ion-text>
    </div>
    <div class="ion-padding-top ion-text-center">
      <ion-text color="medium">{{wallet.mypuk}}</ion-text>
    </div>
    <div class="ion-padding-top ion-text-center">
      <qrcode [qrdata]="wallet.mypuk" [size]="150" [level]="'M'"></qrcode>
    </div>

    <div>
      <ion-card *ngIf="wallet.mypuk_barcode">
        <ion-card-content>
          <p>{{wallet.mypuk_barcode}}</p>
        </ion-card-content>
      </ion-card>
    </div>
    <div>
      <ion-card *ngIf="wallet.myprk_barcode">
        <ion-card-content>
          <p>{{wallet.myprk_barcode}}</p>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-button (click)="showqrcode_puk()" expand="block">Mostra Wallet pubblico - QR Code</ion-button>
    <br />
    <ion-button (click)="showqrcode_prk()" expand="block">Mostra Wallet privato - QR Code</ion-button>
    <br />
    <ion-button (click)="rmkeys_confirm()" expand="block">Delete Wallet</ion-button>
    <br />
    <ion-button (click)="login()" expand="block">Login</ion-button>

  </ng-template>

</ion-content>