<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Transazioni
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
<!--
    <ion-item color="primary">
      <ion-label><h2>From:</h2></ion-label>
      <ion-label><h2>To:</h2></ion-label>
      <ion-label><h2>Amount:</h2></ion-label>
      <ion-label><h2>Date:</h2></ion-label>
      <ion-label><h2>Currency:</h2></ion-label>
      <ion-label><h2>Message:</h2></ion-label>
    </ion-item>
  
-->

    <ion-item-group *ngFor="let tx of txs" [routerLink]="['/transaction-show/', tx.from, tx.to, tx.amount, tx.date, tx.currency, tx.puk, tx.message]">
    <ion-item>
    <ion-grid>
    <ion-row><ion-col>Da:</ion-col><ion-col>{{tx.from}}</ion-col></ion-row>
    <ion-row><ion-col>A:</ion-col><ion-col>{{tx.to}}</ion-col></ion-row>
    <ion-row><ion-col>Quantità:</ion-col><ion-col>{{tx.amount}}</ion-col></ion-row>
    <ion-row><ion-col>Data:</ion-col><ion-col>{{tx.date | date:'yyyy-MM-dd HH:mm.ss'}}</ion-col></ion-row>
    <ion-row><ion-col>Valuta:</ion-col><ion-col>{{tx.currency}}</ion-col></ion-row>
    <ion-row><ion-col>Public Key:</ion-col><ion-col>{{tx.puk}}</ion-col></ion-row>
    <ion-row><ion-col>Messaggio:</ion-col><ion-col>{{tx.message}}</ion-col></ion-row>
    </ion-grid>  
    </ion-item>
<!--

  <ion-item lines="none">
          <ion-label>Da: {{tx.from}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>A: {{tx.to}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Totale: {{tx.amount}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Data: {{tx.date | date:'yyyy-MM-dd HH:mm.ss'}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Valuta: {{tx.currency}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Public Key: {{tx.puk}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Messaggio: {{tx.message}}</ion-label>
        </ion-item>
-->

      </ion-item-group>
  </ion-list>

</ion-content>